<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Silverstripe">
    <description>CodeSniffer ruleset for Silverstripe coding conventions.</description>

	<file>src</file>
	<file>tests</file>

    <rule ref="PSR12" />
</ruleset>
